<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeleteMember.Properties.Settings.NorthWind2020ConnectionString"
            connectionString="Data Source=6X2V0G2\SQLEXPRESS;Initial Catalog=NorthWind2020;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>