<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DatabaseServer" value=".\SQLEXPRESS" />
    <add key="Catalog" value="NorthWind2020" />
  </appSettings>
</configuration>